.app {
  text-align: left;
  font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

.table-container {
  background-color: #f7f7f7;
  padding: 14px;
}

.results-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  color: #565656;
  background-color: #fff;
}

.results-table tr th,
.results-table tr td {
  border-bottom: 1px solid #d3d3d3;
}


.results-table tr th:last-child,
.results-table tr td:last-child {
  border-right: 1px solid #d3d3d3;
  
}


/* table borders */

.results-table tr th:first-child,
.results-table tr td:first-child {
  border-left: 1px solid #d3d3d3;
}
.results-table tr th {
  background: #f7f7f7;
  border-top: 1px solid #d3d3d3;
  text-align: left;
}

/* top-left border-radius */
.results-table tr:first-child th:first-child {
  border-top-left-radius: 4px;
}

/* top-right border-radius */
.results-table tr:first-child th:last-child {
  border-top-right-radius: 4px;
}

.results-table tr:first-child td  {
  border-top: 2px solid #d3d3d3;
}

.results-table tr:last-child td  {
  border-bottom: 3px solid #d3d3d3;
}



.table-col-name {
  text-transform: capitalize;
  background-color: #f7f7f7;
  border-bottom: 1px solid #dee2e6;
  position: relative;
  
}

.table-col-name::after {
  content: "";
  background: #d3d3d3;
  position: absolute;
  bottom: 15%;
  left: 0;
  height: 70%;
  width: 1px;
}

.table-col-name:first-child::after {
  background: none;
}

.table-cell, th {
  
  padding: .75rem;
  vertical-align: top;
}

.counter-row {
  color: #565656;
  padding: .75rem;
  border-bottom: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  text-align: right;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

}


.winner  {
  text-align: center;
  margin-top: 10px;
}

.item-box{
  color: #000;
  height: 90px;
}



