.app {
  text-align: left;
  padding: 5%;
  font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

.table-container {
  background-color: #f7f7f7;
  padding: 14px;
}

.results-table {
  border-collapse: collapse;
  width: 100%;
  color: #565656;
  border: 1px solid #d3d3d3;
  background-color: #fff;
}


.table-col-name {
  text-transform: capitalize;
  background-color: #f7f7f7;
  border-bottom: 1px solid #dee2e6;
  position: relative;
  
}

.table-col-name::after {
  content: "";
  background: #d3d3d3;
  position: absolute;
  bottom: 15%;
  left: 0;
  height: 70%;
  width: 1px;
}

.table-cell, th {
  
  padding: .75rem;
  vertical-align: top;
}

.counter-row {
  color: #565656;
  padding: .75rem;
  border-bottom: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  text-align: right;
}


.item-box{
  color: #000;
  height: 90px;
}

.table td, .table th{
  border: 1px solid #dee2e6
}


